body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}
@media only screen and (min-width:800px) {
    body{ 
        background-image: url('images/bg.png');
        background-size: cover;
    }
}
@font-face {
    font-family: Noot;
    src: url("fonts/Noot.otf") format("opentype");
}
map area {
    outline: none;
}
.main {
    padding: 7%;
    margin: auto;
}
.header-block {
    display: block;
    margin: auto;
}
.name-header {
    font-family: 'Noot';
    color: #73cdff;
    text-shadow: -2px -2px #ffde59;
    -webkit-text-stroke: 1px black;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.landing-img {
    width: 600px;
}
.landing-img-div {
    display: block;
    margin: auto;
    width: 600px;
}
.social-icons {
    position: relative;
    bottom: 385px;
    left: 380px;
    width: 40px;
    padding: 4px;
}
.social-icons-div {
    transform: skewY(24deg);
        
}