body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}
@media only screen and (min-width:800px) {
    body{ 
        background-image: url('images/bg.png');
    }
}
@font-face {
    font-family: Noot;
    src: url("fonts/Noot.otf") format("opentype");
}
map area {
    outline: none;
}
.main {
    padding-top: 150px;
    margin: auto;
}
.header-block {
    display: block;
    margin: auto;
}
.name-header {
    font-family: 'Noot';
    color: #73cdff;
    text-shadow: -2px -2px #ffde59;
    -webkit-text-stroke: 1px black;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.landing-img {
    display: block;
    margin: auto;
    width: 600px;
}